<!DOCTYPE html>
<html ng-app="AllStores">
<head>
<meta charset="UTF-8">
<title>门店管理</title>
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="assets/css/bootstrap/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/css/ions/ionicons.min.css"
	rel="stylesheet">
<link href="assets/css/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
\
<link href="assets/css/jquery/jquery-ui.min.css"
	rel="stylesheet">

<!-- DATA TABLES -->
<link href="assets/css/datatables/dataTables.bootstrap.css"
	rel="stylesheet" type="text/css" />
<link href="assets/css/datatables/datatables.css" rel="stylesheet"
	type="text/css" />
<!-- Theme style -->
<link href="assets/css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="assets/css/pages/all-stores.css" rel="stylesheet"
	type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <![endif]-->
</head>
<body class="skin-blue" ng-controller="AllStoresController">


	<!-- header logo: style can be found in header.less -->
	#include("./fragments/topNav.vm")

	<div class="wrapper row-offcanvas row-offcanvas-left">
		<!-- Left side column. contains the logo and sidebar -->
		#include("./fragments/leftSideBar.vm")

		<!-- Right side column. Contains the navbar and content of the page -->
		<aside class="right-side">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					<i class="fa fa-sitemap"></i>分店管理
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Tables</a></li>
					<li class="active">Data tables</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">


							<!-- /.box-header -->
							<div class="box box-solid">

								<!-- /.box-header -->


								<div class="box-body">

									<div id="allmap" class="baidu-map"></div>


									<div id="c-filter" class="">

										<select class="select2 form-control"
											ng-model="selection.province" ng-change="selectProvince()"
											ng-options="p.name for p in provices">
										</select> <select class="select2 form-control"
											ng-model="selection.city" ng-options="c.name for c in cities"
											ng-change="selectCity()">

										</select>

									</div>

								</div>
								<!-- /.box-body -->

								<div class="box-body table-responsive">
									<table id="store-table"
										class="table table-bordered table-condensed table-striped table-hover">
										<thead>
											<tr>
												<th>分店名称</th>
												<th>分店代码</th>
												<th>成立日期</th>
												<th>省份</th>
												<th>城市</th>
												<th>地址</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-click="navigateTo(store)" ng-repeat="store in stores"
											ng-hide="(stores | filter: {source: sourceFilter).length == 0">

												<td>{{store.storeName}}</td>
												<td>{{store.storeCode}}</td>
												<td>{{store.openDate |date : 'yyyy-MM-dd'}}</td>
												<td>{{store.province}}</td>
												<td>{{store.city}}</td>
												<td>{{store.address}}</td>
												<td><a
													href="/transaction-data.html?storeCode={{store.storeCode}}">交易数据</a></td>

											</tr>
										</tbody>
									</table>
									<button class="btn btn-primary fa fa-plus" data-toggle="modal"
										data-target="#add-new-store-modal">添加新门店</button>
								</div>

								<!-- /.box-body -->


							</div>
							<!-- /.box -->

						</div>
						<!-- /.box -->
					</div>
					<!-- /.box -->
				</div>
	</div>

	</section>
	<!-- /.content -->
	</aside>
	<!-- /.right-side -->
	</div>
	<!-- ./wrapper -->



	<!-- Modal -->
	<div class="modal" id="add-new-store-modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">添加新门店</h4>
				</div>
				<div class="modal-body">


					<!-- form start -->
					<form role="form">

						<div class="form-group">
							<label for="store-name">门店名称</label> <input type="text" ng-model="newStore.storeName" required
								class="form-control" id="store-name" placeholder="门店名称">
						</div>
						<div class="form-group">
							<label for="store-code">门店编码</label> <input type="text" ng-model="newStore.storeCode"  required
								class="form-control" id="store-code" placeholder="门店编码">
						</div>
						
						<div class="form-group">
							<label for="open-date">开业日期</label> <input type="text" class="datepicker form-control" ng-model="newStore.openDate"
								 id="open-date" placeholder="开业日期">
						</div>
						
						<div class="form-group">
							<label for="store-province">省份</label>
							<select class="select2 form-control" ng-model="selection.province"
										    ng-change="selectProvince(p)"
											ng-options="p.name for p in provices"></select>
						
							<label for="open-date">城市</label>
							<select class="select2 form-control" ng-model="selection.city" ng-options="c.name for c in cities" ng-change="selectCity()">
							</select>
						</div>
						
						<div class="form-group">
							<label for="open-date">地址</label> 
							<input type="text" class="form-control" id="store-address" ng-model="selection.address" placeholder="地址">
						</div>
						
						
						
						<div class="form-group">
							<label for="exampleInputEmail1">定位地址</label>
							<button class="btn btn-success fa fa-map-marker" data-toggle="modal" ng-click="showMap()"
										data-target="#choose-location-map"></button>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"  data-dismiss="modal">放弃</button>
					<button type="button" class="btn btn-primary" ng-click="saveNewStore()">保存</button>
				</div>
			</div>
		</div>
	</div>



	<div class="modal full-screen" id="choose-location-map" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog full-screen">
		<div id="select-location-map" class="baidu-map"></div>
		</div>
    </div>
    
    
    <script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/bootstrap.min.js"></script>
	<script src="assets/js/lib/jquery-ui.min.js"></script>
	<script src="assets/js/lib/raphael-min.js"></script>
		<!-- DATA TABES SCRIPT -->


	<script src="assets/js/plugins/datatables/jquery.dataTables.js"
		type="text/javascript"></script>
	<script src="assets/js/plugins/datatables/dataTables.bootstrap.js"
		type="text/javascript"></script>
	<!-- AdminLTE App -->
	<script src="assets/js/pages/app.js" type="text/javascript"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="assets/js/pages/demo.js" type="text/javascript"></script>
	<script src="assets/js/lib/underscore.js" type="text/javascript"></script>
	<script type="text/javascript" src="assets/js/pages/cities.js"
		charset="UTF-8"></script>
	<script type="text/javascript"
		src="http://api.map.baidu.com/api?v=2.0&ak=qFMgNHPq0aKw78GVMkxWITf3"></script>

	<!-- page script -->
	<script src="assets/js/lib/angular.min.js"></script>
	<script src="assets/js/pages/all-stores-controller.js"></script>
</body>
</html>
